*{
    box-sizing: border-box;
}
.container_out {
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.grid-content {
    display: flex;
}

.common_style {
    height: 500px;
    /*background: aqua;*/
    border: 0.3px solid rgb(236, 234, 234);
    padding-left: 20px;
    padding-top: 40px;

}

/*左侧视频源的css*/
.left_video_source {
    margin-right: 10px;
    flex-direction: column;
}

.text_video {
    height: 60px;
    font-weight: bold;

}

.cfr_text {
    height: 60px;
    font-size: 13px;

}

.cfr_list {
    display: flex;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    cursor: default;
    /*pointer-events: none;*/
    font-feature-settings: "tnum", "tnum";
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
}

.cfr_img {
    margin-right: 5px;
}

/*右侧列表展示*/
.the_tips {
    color: rgb(13, 148, 255);
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
}

.right_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right_select {
    display: flex;
    align-items: center;

}

.right_image_con {
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.right_img_list{
    padding: 1px;
    margin-right: 2px;


}
.right_img_list.focus{
    border: 1px solid rgb(13, 148, 255);
}
.right_video_con{

    margin-right: 20px;
    display: flex;
    height: 75%;
    width: 97%;
    margin-top: 2%;
    position: relative;
}
.every_ele{

    border: 1px solid #eceaea;
    background-color: #fff;
    overflow: hidden;
    font-size: 10px;
    color: #999;
    letter-spacing: 0;
    /*width: 100%;*/

}
.every_ele.focus{
    border: 1px solid rgb(13, 148, 255);
    /*background-color: rgb(226, 240, 251);*/
    background-color: #e2f0fb;
}

.video_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 0 10px;
    height: 30px;

}
.video_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.full_sc{
    margin-right: 6px;
}
/*
document.form1.content.select();}

*/
/*
选中文字的背景色
*/

.cfr_list ::selection {
    background: transparent;
}

.cfr_list ::-moz-selection {
    background: transparent;
}

.cfr_list ::selection {
    background:transparent;
}

.cfr_list ::-moz-selection {
    background: transparent;
}

.el-table .cell{
    display: flex;
    min-width: 200px;
}
.el-table__body-wrapper{
    overflow: auto !important;
    min-height: 100%;
    max-height: 100%;
}

.video_top.little_green{
    background-color: rgb(207, 230, 249);
}
.right_polling{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;

    margin-top: 20px;
}
